.nc-news-brand {
    color: red !important;
}

@media (max-width: 767px) {
    .nc-news-brand {
      font-size: 1.2rem; 
    }
  
    .user-avatar {
      width: 25px;
      height: 25px;
    }
  
    .navbar-nav {
      margin-top: 10px; 
    }
  
    .navbar-text {
      font-size: 0.9rem; 
    }
  }
  